
.idea/.idea.Miniproject 1 Sorting Shakespeare/.idea/contentModel.xml

.idea/.idea.Miniproject 1 Sorting Shakespeare/.idea/encodings.xml

.idea/.idea.Miniproject 1 Sorting Shakespeare/.idea/indexLayout.xml

.idea/.idea.Miniproject 1 Sorting Shakespeare/.idea/modules.xml

.idea/.idea.Miniproject 1 Sorting Shakespeare/.idea/projectSettingsUpdater.xml

.idea/.idea.Miniproject 1 Sorting Shakespeare/.idea/workspace.xml

.idea/.idea.Miniproject 1 Sorting Shakespeare/riderModule.iml
